@charset "utf-8";
/*CSS Document*/
{
 font-size: 12px;
 margin: 0 auto;
 padding: 0px;
}
a{
 text-decoration: none;
}
ul,li{
 list-style: none;
}
/*header å¤„ç†*/
.header{
 width: 100%;
 height: 81px;
 background: #06F url(../img/top.gif) repeat-x left center;
}
.header p{
 position: absolute;
 font-size: 30px;
 left: 200px;
 color: #FFF;
}
.header ul{
 position: absolute;
 right: 20px;
 bottom: 10px;
}
.header ul li{
 float: right;
 margin-right: 10px;
}

/*yc_menu*/
#yc_menu li{
	width:100%;
	height:25px;
}
#yc_menu li .btn{
	backgroud:blue;
}
.yc_footer{
	width:100%;
	height:100%;
	line-height:100%;
	padding-top:20px;
	text-alighn:center;
}
/*admin*/
.login_menu ul,#login li{
	list-style:none;
}
.login_menu ul{
	margin-top:20px;
	width:80%;
	margin-left:20px;
}
.login_menu ul li{
	float:left;
}
.login_menu ul li>label{
	display:inline-block;
	width:100px;
	color:blue;
	text-align:right;
	font-size:14px;
	letter-spacing: 0.2em;
}
.login_menu ul li>input{
	
}

