<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>天天生鲜-登录</title>
<link rel="short icon" href="images/logo.png">
<link rel="stylesheet" href="css/reset.css">
<link rel="stylesheet" href="css/login.css">
</head>
<body>
	<!-- logo区区域 -->
	<div class="login_top">
    	<a href="#" class="login_logo"><img  src="images/logo02.png"></a>
    </div>
    
	<!-- 内容区域 -->
	<div id="app" class="login_form_bg">
    	<div class="login_form_wrap clearfix">
        	<div class="login_banner fl"></div>
        	<div class="slogn fl">日夜兼程 ·  急速送达</div>
        	<div class="login_form fr"> 
                <div class="login_title clearfix">
                    <h1 class="fl">用户登录</h1>
                    <a href="register.html" class="fl">立即注册</a>
                </div>
				<!-- 登录区域 -->
                <div class="form_input claerfix">
                    <form action="#">
                        <ul>
                            <li>
                                <input type="text" name="username" v-model="account" class="name_input"   placeholder="请输入您的用户名">
                            </li>
                            <li>
                                <input type="password" name="pwd" v-model="pwd" class="pwd_input" placeholder="请输入您的密码">
                            </li>
                            <li>
                                <input type="text" name="yzm" class="yzm_input" placeholder="请输入您的验证码">
                                <img src="images/yzm.png" class="code">
                            </li>
                            <li>
                                <div class="more_input ">
                                    <input type="checkbox" name="">
                                    <label>记住用户名</label>
                                    <a href="" class="fr">忘记密码</a>
                                </div>
                            </li>
                            <li>
                               <!-- <input type="submit" value="登录"  class="input_submit">-->
                               <input type="button" value="登录"  class="input_submit" @click="login">
                            </li>
                        </ul>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
	<!-- 版权所有-->
	<div class="footer">
    	<div class="foot_link">
        	<a href="#">关于我们</a> <span> | </span>
            <a href="#">联系我们</a> <span> | </span>
            <a href="#">招聘广告</a> <span> | </span>
            <a href="#">友情链接</a>
        </div>
    	<p>CopyRight &copy; 2021 衡阳市J2EE有限公司 All Rights Reserverd</p>
        <p>电话：110</p>
    </div>
<script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
<script type="text/javascript"src="js/vue.js"></script>
<script type="text/javascript" src="js/axios.js"></script>
<script type="text/javascript">
var vm=new Vue({
	el:'#app',
	data:{
		account:'Lydia',
		pwd:'a',
		code:''
	},
	methods:{
		login:function(){
			//方送ajax请求
			axios({
				url:'menber/login',
				method:'post',
				params:{nickName:this.account,pwd:this.pwd}
			}).then(result=>{
				if(result.data.code==-1){
					alert('验证码错误');	
				}else if(result.data.code>0){
					window.location.href="index.html"; 
					//history.go(-1);
				}else{
					alert('用户登录失败');
				}
			})
		}
	}
	
	
})

</script>
</body>
</html>
